.sfondo{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    background-position: center;
}

.logo{
    width: 30%;
}

.autore{
    font-size: 15px;
    color: grey;
}

.booleaner{
    color: lightblue;
}

.data{
    font-size: 10px;
    color: grey;
}

.descrizione-foto{
    font-size: 10px;
}

#underline{
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4e89ae;
    color: white;
  }
  
  tr:nth-child(1), tr:nth-child(3) {
    background-color: lightblue;
  }
  
  
  
  
  
  
  
  
   